@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: justify;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.centering table {
  text-align: center;
}