@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
} */

body {
  text-align: justify;
}

.roman {
  font-family: var(--cmu-roman);
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.centering table {
  text-align: center;
}